# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Prisma
/prisma/*.db
/prisma/*.db-shm
/prisma/*.db-wal

# Jest
/coverage/

# Compiled TypeScript
/dist/

# Testing
/test-results/

# Environment variables
.env
.env.local
.env.*.local
